.loader {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    position: fixed;
    top: 0;
    z-index: 100000000000;
    background: #fff;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.loader.complete {
    visibility: hidden;
    opacity: 0;
}

svg {
    position: absolute;
    top: 47%;
    right: 50%;
}

/*
  Set the color of the icon
*/
svg path,
svg rect {
    fill: #FF6700;
}