.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    position: relative;
    background: #fff;

}

.swiper-slide .imgBox {
    width: 100%;
    height: 300px;
    vertical-align: center;
    box-sizing: border-box;
    overflow: hidden;
}

.swiper-slide .imgBox img {
    width: 100%;
    height: 300px;
    vertical-align: center;
    box-sizing: border-box;
}

.detail {
    box-sizing: border-box;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #000 !important;
}

h5 {
    text-align: center;
}

.price_related{
    width: 100%;
    text-align: center;
}
